* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board {
    width: 900px;
    height: 900px;
    background-image: url("6.png");
    background-size: cover;
    border: 4px solid #333;

    .snake-box {
        width: 98px;
        height: 85px;
        box-shadow: #333;
        overflow: hidden;
        /* border: 1px solid #333; */

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
        }
    }
}